<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <%=link_to "Sample App", root_path %> is the application for simple people. It is developed in
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>

<img id="kot", src="http://niespodzianka.pl/presents/8f6e3a5e5ccae274461531f2bd2120d9.jpg"/>