<footer class="footer">
  <small>
    The Sample App by <a href="https://www.facebook.com/marek.parafianowicz">Marek Parafianowicz</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://rocky-depths-2152.herokuapp.com/">Toy App</a></li>
    </ul>
  </nav>
</footer>